In [7]:
import pandas as pd

In [14]:
# 유닉스 스타일 경로명 패턴 확장
from glob import glob

file_name = glob("./Data/Road/*")
file_name[0]

'./Data/Road/Road__Traffic_Accident.csv'

### 여러개의 파일 한번에 불러오기

In [13]:
many_file = glob("./Data/Commercial_District_Information/*")
many_file

['./Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_세종_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_제주_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_부산_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_대구_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_강원_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_광주_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_전북_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_경북_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_인천_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_경남_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_전남_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_대전_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_서울_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_울산_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_경기_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_충북_202306.csv',
 './Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_충남_202306.csv']

In [21]:
# pd.read_csv("./Data/Commercial_District_Information/소상공인시장진흥공단_상가(상권)정보_강원_202306.csv")

In [17]:
data_list = []
for many_file_name in many_file:
    temp = pd.read_csv(many_file_name, low_memory=False)
    data_list.append(temp)

/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)
/var/folders/fy/h0_mgq7926d7ggr2rkt29cz80000gn/T/ipykernel_40599/2682543924.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(many_file_name)

In [24]:
# 컬럼명이 같다면 파일을 합침
df = pd.concat(data_list)
df.shape

(2504940, 39)

In [25]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0084499,베트남쌀국수퍼짱,NaN,I2,음식,I205,동남아시아,I20501,베트남식 전문,I56194,...,3611010700103610086000001,모닝시티2,세종특별자치시 세종특별자치시 한누리대로 311,339003,30123,NaN,1,NaN,127.255840,36.492065
1,MA010120220805431936,책통클럽읽기훈련센타,NaN,P1,교육,P106,기타 교육,P10629,그 외 기타 교육기관,P85699,...,3611010800200190000000001,해피라움W,세종특별자치시 세종특별자치시 새롬중앙로 62-15,339009,30127,NaN,NaN,NaN,127.251201,36.487016
2,MA010120220805434190,더함인테리어컨설팅,NaN,M1,과학·기술,M112,전문 디자인,M11201,인테리어 디자인업,M73201,...,3611036033106370003000001,NaN,세종특별자치시 세종특별자치시 연서면 당산로 294,339813,30047,NaN,NaN,NaN,127.278712,36.559184
3,MA010120220805432469,모더니엘살롱,NaN,S2,수리·개인,S207,이용·미용,S20701,미용실,S96112,...,3611010700103610069000001,갤러리밸류시티,세종특별자치시 세종특별자치시 한누리대로 288,339003,30128,NaN,2,NaN,127.257100,36.489928
4,MA010120220805435562,카이젠교육,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,3611010300106290005000003,보람빌딩,세종특별자치시 세종특별자치시 남세종로 450,339008,30150,NaN,7,NaN,127.290106,36.477413

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2504940 entries, 0 to 111763
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     object
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      float64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      float64
 26  도로명        object
 27  건물본번지      float64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      int64
 33  신우편번호      int64
 34  동정보        float64
 35  층정보        object
 36  호정보        float64
 37  경도         float64
 38  위도         float64
dtypes: float64(9), int64(8), object(22)
memory usage: 764.4+ MB

In [4]:
# 도로교통공단_월별 주야별 교통사고 통계 데이터
data = pd.read_csv("./Data/Road__Traffic_Accident.csv", encoding="cp949")

In [5]:
data

    발생월 주야   사고건수  사망자수  중상자수   경상자수  부상신고자수
0     1  주   9588    90  2546  10464     792
1     1  야   6306   103  1690   6795     504
2     2  주   7575    78  2001   8228     657
3     2  야   4787    83  1300   4981     421
4     3  주   8322    96  2167   8783     600
5     3  야   5298    87  1473   5393     437
6     4  주  10472   112  2798  11475     961
7     4  야   6000   104  1680   6398     487
8     5  주  11749   136  3198  12531    1107
9     5  야   6316    99  1674   6676     586
10    6  주  10377   139  2746  11055     940
11    6  야   6104    92  1692   6396     600
12    7  주  10780   120  2802  11993    1032
13    7  야   6335   121  1697   6684     604
14    8  주  10360   124  2669  11560     953
15    8  야   6136   118  1632   6598     542
16    9  주  10799   146  2754  11810     967
17    9  야   6417   111  1694   6805     614
18   10  주  11590   168  3083  12795    1097
19   10  야   6918   117  1800   7384     616
20   11  주  10944   159  2838  11474    1017
21   11  야   6634    98  1706   7087     621
22   12  주  10416   133  2510  11547     920
23   12  야   6613   101  1565   7518     583